<!DOCTYPE html>
<html>
<head>
    <title></title>
    {#    {% load static %}#}
    <script type='text/javascript' src="{% static 'js/jquery-3.4.1.js' %} "></script>
    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            });
            $('#formlogin').submit(function () {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: {
                        'subject': $("#subject").val(),
                        'msg': $("#msg").val(),
                        'to_addr': $("#to_addr").val()
                    },
                    url: 'search_post',
                    cache: false,
                    success: function (result) {
                        {#$("#mainContent").html(result);#}
                        {#alert(result.code);#}
                        if (result.code =={{ RES_CODE }}) {
                            alert('完美')
                        } else {
                            $("#error").html(result.message);
                        }
                    },
                    error: function () {
                        alert("false");
                    }
                });
                return false;
            });

        });
    </script>

</head>
<body>
<ul>
    {% for user in users %}
        <li>
            id:{{ user.id }},姓名：{{ user.name }},sex: {{ user.sex }},createtime: {{ user.createtime }}
        </li>
    {% endfor %}
    <br/>
    {{ RES_CODE }}
    <br/>
    <form id="formlogin" method="post">
        {% csrf_token %}
        主题:<input type="text" id="subject"><br/>
        内容:<input type="text" id="msg"><br/>
        接收人:<input type="text" id="to_addr"><br/>
        <p style="color: red;" id="error"></p>
        <input type="submit" value="发送">
    </form>
</ul>
</body>
</html>